**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.dvi
**/*.log
**/*.out
**/*.toc
**/PhotDM.synctex.gz
**/PhotDM.ps
**/PhotDM.pdf
**/PhotDM.fls
**/PhotDM.fdb_latexmk
**/.DS_Store
**/draft-background.pdf
**/tthdefs.tex
