**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.dvi
**/*.log
**/*.out
**/*.toc
**/PhotDM.synctex.gz
**/PhotDM.ps
**/PhotDM.pdf
**/PhotDM.fls
**/PhotDM.fdb_latexmk

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.idea/
